<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="e5fae5b402d5412887342c9a6d362b26" class="chart-container" style="width:800px; height:550px;"></div>
    <script>
        var chart_e5fae5b402d5412887342c9a6d362b26 = echarts.init(
            document.getElementById('e5fae5b402d5412887342c9a6d362b26'), 'light', {renderer: 'canvas'});
        var option_e5fae5b402d5412887342c9a6d362b26 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u79bb\u5a5a\u767b\u8bb0(\u4e07\u5bf9)",
            "data": [
                246.8,
                267.8,
                287.4,
                310.38,
                350.01,
                363.68,
                384.14,
                415.82,
                437.4,
                446.08
            ],
            "stack": "stack1",
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "\u7ed3\u5a5a\u767b\u8bb0(\u4e07\u5bf9)",
            "data": [
                1212.4,
                1241.0,
                1302.36,
                1323.59,
                1346.93,
                1306.74,
                1224.71,
                1142.82,
                1063.1,
                1013.94
            ],
            "stack": "stack1",
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u79bb\u5a5a\u767b\u8bb0(\u4e07\u5bf9)",
                "\u7ed3\u5a5a\u767b\u8bb0(\u4e07\u5bf9)"
            ],
            "selected": {
                "\u79bb\u5a5a\u767b\u8bb0(\u4e07\u5bf9)": true,
                "\u7ed3\u5a5a\u767b\u8bb0(\u4e07\u5bf9)": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2009\u5e74",
                "2010\u5e74",
                "2011\u5e74",
                "2012\u5e74",
                "2013\u5e74",
                "2014\u5e74",
                "2015\u5e74",
                "2016\u5e74",
                "2017\u5e74",
                "2018\u5e74"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u7ed3\u5a5a\u79bb\u5a5a\u5806\u53e0\u56fe"
        }
    ]
};
        chart_e5fae5b402d5412887342c9a6d362b26.setOption(option_e5fae5b402d5412887342c9a6d362b26);
    </script>
</body>
</html>
