<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="0c875d8cd75c462ba4eaf1bee687a6c3" class="chart-container" style="width:780px; height:450px;"></div>
    <script>
        var chart_0c875d8cd75c462ba4eaf1bee687a6c3 = echarts.init(
            document.getElementById('0c875d8cd75c462ba4eaf1bee687a6c3'), 'light', {renderer: 'canvas'});
        var option_0c875d8cd75c462ba4eaf1bee687a6c3 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u4e92\u8054\u7f51",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,152,75)"
                        }
                    }
                },
                {
                    "name": "IT",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,125,49)"
                        }
                    }
                },
                {
                    "name": "\u8f6f\u4ef6\u5f00\u53d1",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,49,118)"
                        }
                    }
                },
                {
                    "name": "\u4ea7\u54c1\u7814\u53d1\u53ca\u4eba\u5de5\u667a\u80fd\u65b9\u5411",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,10,24)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u751f",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(156,30,26)"
                        }
                    }
                },
                {
                    "name": "\u524d\u7aef\u5f00\u53d1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,18,59)"
                        }
                    }
                },
                {
                    "name": "\u6e38\u620f\u5f00\u53d1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,12,50)"
                        }
                    }
                },
                {
                    "name": "\u8f6f\u4ef6",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,75,79)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u7edc\u4e0e\u65b0\u5a92\u4f53",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(46,58,88)"
                        }
                    }
                },
                {
                    "name": "Java\u5f00\u53d1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(14,58,154)"
                        }
                    }
                },
                {
                    "name": "\u6559\u80b2",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,128,65)"
                        }
                    }
                },
                {
                    "name": "\u4ea4\u901a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,73,145)"
                        }
                    }
                },
                {
                    "name": "OA",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(86,58,139)"
                        }
                    }
                },
                {
                    "name": "\u5f00\u53d1\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(133,19,130)"
                        }
                    }
                },
                {
                    "name": "it",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(14,19,28)"
                        }
                    }
                },
                {
                    "name": "\u96f6\u552e\u4e1a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,9,54)"
                        }
                    }
                },
                {
                    "name": "\u76ee\u524d\u5728\u79fb\u52a8\u652f\u4ed8\u884c\u4e1a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(26,103,150)"
                        }
                    }
                },
                {
                    "name": "\u5728\u8bfb\u8ba1\u7b97\u673a\u7cfb\u5b66\u751f",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(130,109,48)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u7edc\u5b89\u5168",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(16,124,86)"
                        }
                    }
                },
                {
                    "name": "\u7269\u8054\u7f51",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,150,144)"
                        }
                    }
                },
                {
                    "name": "\u8f6f\u4ef6\u4fe1\u606f\u6280\u672f",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(6,139,133)"
                        }
                    }
                },
                {
                    "name": "\u5927\u6570\u636e/\u4eba\u5de5\u667a\u80fd",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(11,160,37)"
                        }
                    }
                },
                {
                    "name": "\u5728\u7ebf\u6559\u80b2",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(57,65,111)"
                        }
                    }
                },
                {
                    "name": "\u7cfb\u7edf\u96c6\u6210",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,81,85)"
                        }
                    }
                },
                {
                    "name": "\u4e92\u8054\u7f51\u5b89\u5168",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(50,13,16)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u7ea6\u8f66",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,42,90)"
                        }
                    }
                },
                {
                    "name": "\u8ba1\u7b97\u673a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,101,36)"
                        }
                    }
                },
                {
                    "name": "\u4eba\u529b\u8d44\u6e90\u62db\u8058\u7cfb\u7edf",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,142,17)"
                        }
                    }
                },
                {
                    "name": "\u4e92\u8054\u7f51\u7535\u5546",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(156,32,3)"
                        }
                    }
                },
                {
                    "name": "\u7ba1\u7406",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,83,45)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u7231\u5fc3\u6781\u5ba2\u6240\u5728\u884c\u4e1a"
        }
    ]
};
        chart_0c875d8cd75c462ba4eaf1bee687a6c3.setOption(option_0c875d8cd75c462ba4eaf1bee687a6c3);
    </script>
</body>
</html>
