<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="2947318a4e44465db7f030c30d526304" class="chart-container" style="width:1150px; height:550px;"></div>
    <script>
        var chart_2947318a4e44465db7f030c30d526304 = echarts.init(
            document.getElementById('2947318a4e44465db7f030c30d526304'), 'light', {renderer: 'canvas'});
        var option_2947318a4e44465db7f030c30d526304 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "18~25\u5c81",
                    "value": 22
                },
                {
                    "name": "26~30\u5c81",
                    "value": 21
                },
                {
                    "name": "31~35\u5c81",
                    "value": 2
                },
                {
                    "name": "36~40\u5c81",
                    "value": 2
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "25%",
                "50%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "xAxisIndex": 0,
            "yAxisIndex": 0
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u7814\u53d1\u8bbe\u8ba1\u7c7b",
                    "value": 39
                },
                {
                    "name": "\u54a8\u8be2\u5efa\u8bae\u7c7b",
                    "value": 8
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "75%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            },
            "xAxisIndex": 1,
            "yAxisIndex": 1
        }
    ],
    "legend": [
        {
            "data": [
                "18~25\u5c81",
                "26~30\u5c81",
                "31~35\u5c81",
                "36~40\u5c81"
            ],
            "selected": {},
            "show": true,
            "left": "17%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [
                "\u7814\u53d1\u8bbe\u8ba1\u7c7b",
                "\u54a8\u8be2\u5efa\u8bae\u7c7b"
            ],
            "selected": {},
            "show": true,
            "right": "22%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u7231\u5fc3\u6781\u5ba2\u5e74\u9f84\u73ab\u7470\u56fe"
        },
        {
            "text": "\u7231\u5fc3\u6781\u5ba2\u613f\u610f\u53c2\u4e0e\u7684\u7c7b\u522b",
            "right": "1%"
        }
    ],
    "grid": [
        {
            "left": "15%",
            "containLabel": false
        },
        {
            "right": "15%",
            "containLabel": false
        }
    ]
};
        chart_2947318a4e44465db7f030c30d526304.setOption(option_2947318a4e44465db7f030c30d526304);
    </script>
</body>
</html>
