<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/vintage.js"></script>

</head>
<body>
    <div id="74992785869e4b76af12c97e8d124e0d" class="chart-container" style="width:800px; height:400px;"></div>
    <script>
        var chart_74992785869e4b76af12c97e8d124e0d = echarts.init(
            document.getElementById('74992785869e4b76af12c97e8d124e0d'), 'vintage', {renderer: 'canvas'});
        var option_74992785869e4b76af12c97e8d124e0d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u4e92\u8054\u7f51",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,50,145)"
                        }
                    }
                },
                {
                    "name": "IT",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,108,99)"
                        }
                    }
                },
                {
                    "name": "\u8f6f\u4ef6\u5f00\u53d1",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(59,104,123)"
                        }
                    }
                },
                {
                    "name": "\u4ea7\u54c1\u7814\u53d1\u53ca\u4eba\u5de5\u667a\u80fd\u65b9\u5411",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(91,107,2)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u751f",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,65,1)"
                        }
                    }
                },
                {
                    "name": "\u524d\u7aef\u5f00\u53d1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(59,125,6)"
                        }
                    }
                },
                {
                    "name": "\u6e38\u620f\u5f00\u53d1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,111,52)"
                        }
                    }
                },
                {
                    "name": "\u8f6f\u4ef6",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(150,35,14)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u7edc\u4e0e\u65b0\u5a92\u4f53",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(152,52,110)"
                        }
                    }
                },
                {
                    "name": "Java\u5f00\u53d1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(64,141,77)"
                        }
                    }
                },
                {
                    "name": "\u6559\u80b2",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(152,10,30)"
                        }
                    }
                },
                {
                    "name": "\u4ea4\u901a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,139,60)"
                        }
                    }
                },
                {
                    "name": "OA",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,121,127)"
                        }
                    }
                },
                {
                    "name": "\u5f00\u53d1\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,61,66)"
                        }
                    }
                },
                {
                    "name": "it",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,97,75)"
                        }
                    }
                },
                {
                    "name": "\u96f6\u552e\u4e1a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,118,42)"
                        }
                    }
                },
                {
                    "name": "\u76ee\u524d\u5728\u79fb\u52a8\u652f\u4ed8\u884c\u4e1a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,56,13)"
                        }
                    }
                },
                {
                    "name": "\u5728\u8bfb\u8ba1\u7b97\u673a\u7cfb\u5b66\u751f",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(15,106,147)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u7edc\u5b89\u5168",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,92,146)"
                        }
                    }
                },
                {
                    "name": "\u7269\u8054\u7f51",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(93,18,156)"
                        }
                    }
                },
                {
                    "name": "\u8f6f\u4ef6\u4fe1\u606f\u6280\u672f",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,153,82)"
                        }
                    }
                },
                {
                    "name": "\u5927\u6570\u636e/\u4eba\u5de5\u667a\u80fd",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,6,125)"
                        }
                    }
                },
                {
                    "name": "\u5728\u7ebf\u6559\u80b2",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,60,9)"
                        }
                    }
                },
                {
                    "name": "\u7cfb\u7edf\u96c6\u6210",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,109,32)"
                        }
                    }
                },
                {
                    "name": "\u4e92\u8054\u7f51\u5b89\u5168",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,132,17)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u7ea6\u8f66",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,81,130)"
                        }
                    }
                },
                {
                    "name": "\u8ba1\u7b97\u673a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,37,26)"
                        }
                    }
                },
                {
                    "name": "\u4eba\u529b\u8d44\u6e90\u62db\u8058\u7cfb\u7edf",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(130,2,90)"
                        }
                    }
                },
                {
                    "name": "\u4e92\u8054\u7f51\u7535\u5546",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,70,159)"
                        }
                    }
                },
                {
                    "name": "\u7ba1\u7406",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,59,25)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u7231\u5fc3\u6781\u5ba2\u6240\u5728\u884c\u4e1a"
        }
    ]
};
        chart_74992785869e4b76af12c97e8d124e0d.setOption(option_74992785869e4b76af12c97e8d124e0d);
    </script>
</body>
</html>
