x
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/icons.html">数据故事teb展示</a>
        <!-- Form -->
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Search" type="text">
            </div>
          </div>
        </form>
        <!-- User -->
        {% include 'includes/user-dropdown.html' %}

      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                      <span class="h2 font-weight-bold mb-0">350,897</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                      <span class="h2 font-weight-bold mb-0">2,356</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                    <span class="text-nowrap">Since last week</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                      <span class="h2 font-weight-bold mb-0">924</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                    <span class="text-nowrap">Since yesterday</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                      <span class="h2 font-weight-bold mb-0">49,65%</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Icons</h3>
            </div>
            <div class="card-body">
                <div class="row icon-examples"></div>
                {{ the_plot_all|safe }}

{#                文字部分#}
                <div class="text-black"><h1 id="比我们贫穷的人还有哪些？（贫困现状）">比我们贫穷的人还有哪些？（贫困现状）<a class="anchor-link" href="#比我们贫穷的人还有哪些？（贫困现状）"></a></h1>
<ul>
<li><h3 id="从2009年到2018年城市低保人数在逐步下降">从2009年到2018年城市低保人数在逐步下降<a class="anchor-link" href="#从2009年到2018年城市低保人数在逐步下降"></a></h3>
</li>
<li><h3 id="在2009年到2018年中，农村低保户在2009年到2013年期间人数上涨，2013年到2018年开始下降">在2009年到2018年中，农村低保户在2009年到2013年期间人数上涨，2013年到2018年开始下降<a class="anchor-link" href="#在2009年到2018年中，农村低保户在2009年到2013年期间人数上涨，2013年到2018年开始下降"></a></h3>
</li>
<li><h3 id="我国gdp指标逐年上涨">我国gdp指标逐年上涨<a class="anchor-link" href="#我国gdp指标逐年上涨"></a></h3>
</li>
<li><h3 id="本数据运用gdp指标代替gdp总值以平衡乡村城市数据的差异">本数据运用gdp指标代替gdp总值以平衡乡村城市数据的差异<a class="anchor-link" href="#本数据运用gdp指标代替gdp总值以平衡乡村城市数据的差异"></a></h3>
</li>
</ul>
<h1 id="结论">结论<a class="anchor-link" href="#结论"></a></h1>
<ul>
<li><h3 id="从2009到2018年期间城市低保人数逐渐下降，gdp的上升，说明中国城市化进展速度快">从2009到2018年期间城市低保人数逐渐下降，gdp的上升，说明中国城市化进展速度快<a class="anchor-link" href="#从2009到2018年期间城市低保人数逐渐下降，gdp的上升，说明中国城市化进展速度快"></a></h3>
</li>
<li><h3 id="中国贫富差距依然存在，但在2013年习近平主席提出精准扶贫后，农村低保户开始下降">中国贫富差距依然存在，但在2013年习近平主席提出精准扶贫后，农村低保户开始下降<a class="anchor-link" href="#中国贫富差距依然存在，但在2013年习近平主席提出精准扶贫后，农村低保户开始下降"></a></h3>
</li>
<li><h3 id="城镇比农村人均可支配的财富更多，农村与城镇贫困差距保持常年不变，贫富差距仍然很大">城镇比农村人均可支配的财富更多，农村与城镇贫困差距保持常年不变，贫富差距仍然很大<a class="anchor-link" href="#城镇比农村人均可支配的财富更多，农村与城镇贫困差距保持常年不变，贫富差距仍然很大"></a></h3>
</li>
</ul>
<h1 id="中国哪些人先富了起来？">中国哪些人先富了起来？<a class="anchor-link" href="#中国哪些人先富了起来？"></a></h1>
<ul>
<li><h3 id="从历年分省GDP可以看出历年来，沿海地区GDP增长较快，内陆地区较为缓慢，其中山东、广东、江苏发展迅速，内陆地区四川、河南发展迅速。">从历年分省GDP可以看出历年来，沿海地区GDP增长较快，内陆地区较为缓慢，其中山东、广东、江苏发展迅速，内陆地区四川、河南发展迅速。<a class="anchor-link" href="#从历年分省GDP可以看出历年来，沿海地区GDP增长较快，内陆地区较为缓慢，其中山东、广东、江苏发展迅速，内陆地区四川、河南发展迅速。"></a></h3>
</li>
<li><h3 id="直至进入广东、江苏、山东三省为gdp贡献最高的三个省份">直至进入广东、江苏、山东三省为gdp贡献最高的三个省份<a class="anchor-link" href="#直至进入广东、江苏、山东三省为gdp贡献最高的三个省份"></a></h3>
</li>
</ul>
<h1 id="结论">结论<a class="anchor-link" href="#结论"></a></h1>
<ul>
<li><h3 id="改革开放后，中国个省份gdp都有明显的上升，尤其是沿海地区">改革开放后，中国个省份gdp都有明显的上升，尤其是沿海地区<a class="anchor-link" href="#改革开放后，中国个省份gdp都有明显的上升，尤其是沿海地区"></a></h3>
</li>
<li><h3 id="改革开放使一部分的人民真正的富裕起来了">改革开放使一部分的人民真正的富裕起来了<a class="anchor-link" href="#改革开放使一部分的人民真正的富裕起来了"></a></h3>
</li>
</ul>
<h1 id="我们能做什么？">我们能做什么？<a class="anchor-link" href="#我们能做什么？"></a></h1>
<ul>
<li><h3 id="通过码上公益平台（一家通过技术改变公益，用技术温暖世界的平台）数据统计，爱心极客大多来在互联网行业，其中有很多计算机系学生，网络与新媒体学生">通过码上公益平台（一家通过技术改变公益，用技术温暖世界的平台）数据统计，爱心极客大多来在互联网行业，其中有很多计算机系学生，网络与新媒体学生<a class="anchor-link" href="#通过码上公益平台（一家通过技术改变公益，用技术温暖世界的平台）数据统计，爱心极客大多来在互联网行业，其中有很多计算机系学生，网络与新媒体学生"></a></h3>
</li>
<li><h3 id="在人民富裕起来的同时，确实有人在为穷人着想，通过技术去改变公益，让人民全部富裕起来，推动社会主义现代化的发展，其中来自互联网产业的人群出力最大">在人民富裕起来的同时，确实有人在为穷人着想，通过技术去改变公益，让人民全部富裕起来，推动社会主义现代化的发展，其中来自互联网产业的人群出力最大<a class="anchor-link" href="#在人民富裕起来的同时，确实有人在为穷人着想，通过技术去改变公益，让人民全部富裕起来，推动社会主义现代化的发展，其中来自互联网产业的人群出力最大"></a></h3>
</li>
<li><h3 id="大部分的爱心极客都集中在18~30岁之间，参与贡献的爱心极客大多数都是研发设计类，咨询建议类特别少。可以推断出，程序员较多，产品经理较少。">大部分的爱心极客都集中在18~30岁之间，参与贡献的爱心极客大多数都是研发设计类，咨询建议类特别少。可以推断出，程序员较多，产品经理较少。<a class="anchor-link" href="#大部分的爱心极客都集中在18~30岁之间，参与贡献的爱心极客大多数都是研发设计类，咨询建议类特别少。可以推断出，程序员较多，产品经理较少。"></a></h3>
</li>
<li><h3 id="作为网络与新媒体专业的同学，有可能可以往这一领域发展，推动精准扶贫，提供技术建议与帮助，让富起来的人去帮助依然贫穷的人，推动社会主义现代化的发展。">作为网络与新媒体专业的同学，有可能可以往这一领域发展，推动精准扶贫，提供技术建议与帮助，让富起来的人去帮助依然贫穷的人，推动社会主义现代化的发展。<a class="anchor-link" href="#作为网络与新媒体专业的同学，有可能可以往这一领域发展，推动精准扶贫，提供技术建议与帮助，让富起来的人去帮助依然贫穷的人，推动社会主义现代化的发展。"></a></h3>
</li>
</ul>
</div>
            </div>
          </div>
        </div>
      </div>

      {% include 'includes/footer.html' %}
      
    </div>
  </div>
  