
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/profile.html">总结与建议</a>
        <!-- Form -->
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Search" type="text">
            </div>
          </div>
        </form>
        <!-- User -->
        {% include 'includes/user-dropdown.html' %}

      </div>
    </nav>
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
         style="min-height: 600px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-12 col-md-11">
            <h1 class="display-2 text-white">总结</h1>

              <h3 class="display-5 text-white">就业，像是一枚硬币具有两面性，有时候就业反映的是农村和城市的差距在缩小的客观局面，但是也反映了其背后的其他原因，比如老龄化的社会现状。</h3>
              <h3 class="display-5 text-white">精准扶贫的政策，改善的不仅仅是城市和农村低保人数，更是给更多人提供了生存的机会；但是就业可能反映了人们现在压力大的社会现象。</h3>
              <h3 class="display-5 text-white">老龄化说明了我国现在劳动力匮乏和劳动人口目前处于高压力原因，这也是社会存在的一个问题。</h3>
            <p class="text-white mt-0 mb-5"></p>
            <p><a href="/word" class="btn btn-info">重新回顾</a></p>
          </div>
        </div>


          <div class="row">
        <div class="col-xl-8 container">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">故事的结束</h6>
                  <h2 class="mb-0">建议</h2>

                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div style="height: 100%;width: 100%">
                  <p>1、随着我国人口老龄化程度的加深，养老金体系亟待进一步完善。加快建设社会养老服务体系、发展养老服务产业。</p>
                  <p>2、继续完善生育政策，推动生育政策与经济社会政策相衔接。当前具体的政策选择包括：完善住房保障制度，多途径满足青年及新家庭的住房需求；完善婚育相关假期制度，推动家庭工作平衡；合理配置社会服务资源，改善儿童照料服务供给；深化教育制度改革，切实减轻家庭教育负担。在此基础上，建议进一步推进生育政策的调整，尽早尽快实现自主生育。</p>
                  <p>3、根据渐进、弹性原则尽快出台延迟退休年龄方案，并采取多种方式促进老年人就业，大力开发老年人力资源。</p>
                  <p>4、完善养老保险制度。要进一步完善制度设计，推进基础养老金全国统筹；尽快出台科学透明的养老金调整机制；继续加强养老保险基金的保值增值。</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>
    <!-- Page content -->

  </div>
