
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-12 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">数据故事：人口老龄化</h5>

                      <span id="stats_traffic" class="h2 font-weight-bold mb-0">从中国的出生率出发，对比世界的出生率。从世界类比中国；然后再分析我国的人口老龄化现状，探讨人口结构与老龄化的关系，进而老龄化对就业带来的思考。</span>
                    
                    </div>
                    <div class="col-auto">

                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

